$rp-off-canvas-layout-sidebar-width: 16em;
$rp-off-canvas-layout-transition: all 0.3s ease-out;

.container {
  position: relative;
  left: 0;
  transition: $rp-off-canvas-layout-transition;

  &.expanded {
    left: $rp-off-canvas-layout-sidebar-width;

    @media screen and (min-width: 48.25em) {
      left: 0;

      .sidebar {
        left: 0;
        box-shadow: 3px 2px 5px -2px rgba(0, 0, 0, 0.3);
      }
    }
  }
}

.sidebar {
  position: absolute;
  top: 0;
  left: -$rp-off-canvas-layout-sidebar-width;
  width: $rp-off-canvas-layout-sidebar-width;
  height: 100%;
  clear: both;
  overflow: hidden;
  transition: $rp-off-canvas-layout-transition;
  background-color: white;

  @media screen and (min-width: 48.25em) {
    z-index: 1;
  }
}

.main {
  @media screen and (min-width: 48.25em) {
    width: 100%;
  }
}
