<div class="routes">
  <rp-toolbar>
    <rp-toolbar-group>
      <rp-menu-icon [isExpanded]="isNavExpanded" (click)="toggleNav()"></rp-menu-icon>
    </rp-toolbar-group>
  </rp-toolbar>
  <div class="content-wrapper">
    <rp-off-canvas-layout [isExpanded]="isNavExpanded">
      <rp-off-canvas-sidebar>
        <router-outlet></router-outlet>
      </rp-off-canvas-sidebar>
      <rp-off-canvas-main>
        <mb-map
          [mbStyle]="'mapbox://styles/mapbox/streets-v9'"
          [longitude]="-105"
          [latitude]="39"
          [zoom]="5"
        ></mb-map>
      </rp-off-canvas-main>
    </rp-off-canvas-layout>
  </div>
</div>
